<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.dreamchain.skeleton.model.User"></mapping>
        <mapping class="com.dreamchain.skeleton.model.Company"></mapping>
        <mapping class="com.dreamchain.skeleton.model.Department"></mapping>
        <mapping class="com.dreamchain.skeleton.model.Roles"></mapping>
        <mapping class="com.dreamchain.skeleton.model.RoleRight"></mapping>
        <mapping class="com.dreamchain.skeleton.model.Product"></mapping>
        <mapping class="com.dreamchain.skeleton.model.Category"></mapping>
        <mapping class="com.dreamchain.skeleton.model.UserAllocation"></mapping>
        <mapping class="com.dreamchain.skeleton.model.TeamAllocation"></mapping>
        <mapping class="com.dreamchain.skeleton.model.ChangeRequest"></mapping>
        <mapping class="com.dreamchain.skeleton.model.ApprovalStatus"></mapping>
        <mapping class="com.dreamchain.skeleton.model.DeclineRequest"></mapping>
    </session-factory>
</hibernate-configuration>

